<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('../includes/admin-navigation.ejs') %>

    <main>
        <form action="/admin/<% if (editing) { %>edit-plane<% } else { %>add-plane<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name of Plane</label>
                <input type="text" name="name" id="name" value="<% if (editing) { %><%= plane.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="seats">No of Seats</label>
                <input type="text" name="seats" id="seats" value="<% if (editing) { %><%= plane.noOfSeats %><% } %>">
            </div>
            <div class="form-control">
                <label for="starting">Starting Location</label>
                <input type="text" name="starting" id="starting" value="<% if (editing) { %><%= plane.startingLocation %><% } %>">
            </div>
            <div class="form-control">
                <label for="ending">Ending Location</label>
                <input type="text" name="ending" id="ending" value="<% if (editing) { %><%= plane.endingLocation %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" value="<% if (editing) { %><%= plane.price %><% } %>">
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= plane.id %>" name="id">
            <% } %>
            <button class="btn" type="submit"><% if (editing) { %>Update Plane<% } else { %>Add Plane<% } %></button>

        </form>
    </main>
<%- include('../includes/end.ejs')%>
