<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/item.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1 class="centered">Choose the type of car to travel to your destination with</h1>
        <% if(cab.length>0){ %>
            <div class="grid">
                <% for(let type of cab ) { %>
                    <article class="card item-item">
                        <header class="card__header">
                            <h1 class="item__title"><%= type.carType %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= type.imageUrl %> " alt="<%= type.carType %> ">
                        </div>
                        <div class="card_content">
                            <label><b>Price per KM :</b></label>
                            <p class="item__text"><%= type.price %> <p> 
                        </div>
                        <div class="card__actions">
                            <a href="/cab-bookings/<%= type.id %>" class="btn">Book Cab</a>                              
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1 class="card item-item">No types of car found</h1>
        <% } %> 
        </main>
<%- include('../includes/end.ejs') %>