<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/item.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1 class="centered">Book your trains at the lowest prices</h1>
        <% if (train.length>0){%>
            <div class="grid">
                <% for (let trains of train) { %>
                    <article class="card item-item">
                        <header class="card__header">
                            <h1 class="item__title"><%=trains.name%> </h1>
                        </header>
                        <div class="card_content">
                            <label><b>Starting Location :</b></label>
                            <p class="item__text"><%= trains.startingLocation%></p>
                            <label><b>Ending Location :</b></label>
                            <p class="item__text"><%= trains.endingLocation %> </p>
                            <label><b>No of seats :</b></label>
                            <p class="item__text"><%= trains.noOfSeats%> </p>
                            <label><b>Price :</b></label>
                            <p class="item__text"><%= trains.price %> </p>
                        </div>
                        <div class="card__actions">
                            <a href="/train-bookings/<%= trains.id %>" class="btn">Book Train</a>                              
                        </div>
                    </article>
                    <% } %>
                </div>
                <% } else { %>
                    <h1 class="card item-item">No trains Found!</h1>
                    <% } %>
        </main>
<%- include('../includes/end.ejs') %>